/*DANIMON NGABA Nedjim */
/*Simplon - Promo 6 */

.box {
    width: 5rem;
    height: 10rem;
}

.center {
    text-align: center;
}

#content {
    margin: 3rem;
}

.position {
    display: inline-block;
}