/*DANIMON NGABA Nedjim */
/*Simplon - Promo 6 */

body {
    background: #424242;
}

.title {
    color: white;
}

.yellow {
    background: #faf370;
}

.orange {
    background: #ffd663;
}

.pink {
    background: #f58d90;
}

.violet {
    background: #c19bc8;
}

.blue {
    background: #94c2e9;
}

.green {
    background: #9dd086;
}



